@{
    ViewBag.Title = "主页";
}
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/lavalamp.min.js"></script>
<script src="~/Scripts/xixi.js"></script>
<SCRIPT type=text/javascript>
$(function(){$(".lavaLamp").lavaLamp({ fx: "backout", speed: 700 })});
</SCRIPT>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
          
<DIV id=wrapper>
<UL class=lavaLamp>
  <LI><A href="#">家门口</A></LI>
  <LI><A href="#">DIY不累</A></LI>
  <LI><A href="#">享家生活</A></LI>
  <LI><A href="#">家教无法</A></LI>
  <LI><A href="#">杂七杂八</A></LI>
  <LI><A href="#">童心童乐</A></LI>
  <LI><A href="#">翻翻衣橱</A></LI>
  <LI><A href="#">留言板</A></LI>
  <LI><A href="#">门牌号</A></LI>
</UL>
<A title="Rss Feed" href="#"><IMG style="FLOAT: right" src="images/RSS_icons.png"></A>
</DIV>
<br />
<p></p>
<p>
</p>
<p></p>
        </div>
    </section>
}
<h3>下面是我们的建议:</h3>
<ol class="round">
    <li class="one">
        <h5>开始使用</h5>
        ASP.NET MVC 为你提供了一种用于生成动态网站的方式，
        该方式基于模式，十分强大，使你可以清晰地分离各种考虑因素，让你能够完全控制标记，
            以便进行灵活而有趣的开发。ASP.NET MVC 包括许多功能，你可以使用这些功能进行
            TDD 友好的快速开发，以创建使用
            最新 Web 标准的复杂应用程序。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">了解详细信息...</a>
    </li>

    <li class="two">
        <h5>添加 NuGet 程序包并快速开始编码</h5>
        通过 NuGet，可以轻松地安装和更新免费的库和工具。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">了解详细信息...</a>
    </li>

    <li class="three">
        <h5>查找 Web 宿主</h5>
        你可以轻松找到所提供的功能和价格
      都适合你应用程序的 Web 宿主公司。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">了解详细信息...</a>
    </li>
</ol>
