@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


<div class="content">
    <div class="container">

        <!-- Slider starts -->

        <div class="row">
            <div class="span12">
                <!-- Slider (Parallax Slider) -->
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <div class="da-blue">
                            <h2><span>文字的力量</span></h2>
                            <p>所谓文字的力量，不是华美的辞藻，不是漂亮的修辞，这些不重要——重要的是，这些文字，是否具有直刺人心的深度，一定要有那种彻骨的寒冷，之后，或者温暖，或者绝望，才是有意义的。</p>
                            <a href="#" class="da-link">更多</a>
                            <div class="da-img">
                                <img src="../../img/parallax/xifu.jpg" alt="image01" />
                            </div>
                        </div>
                    </div>
                    <div class="da-slide">
                        <div class="da-green">
                            <h2><span>Easy management</span></h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <a href="#" class="da-link">Read more</a>
                            <div class="da-img">
                                <img src="../../img/parallax/2.png" alt="image01" />
                            </div>
                        </div>
                    </div>
                    <div class="da-slide">
                        <h2><span>Revolution</span></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <a href="#" class="da-link">Read more</a>
                        <div class="da-img">
                            <img src="../../img/parallax/3.png" alt="image01" />
                        </div>
                    </div>
                    <div class="da-slide">
                        <h2><span>Quality Control</span></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                        <a href="#" class="da-link">Read more</a>
                        <div class="da-img">
                            <img src="../../img/parallax/4.png" alt="image01" />
                        </div>
                    </div>
                    <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Slider Ends -->

        <!-- Hero Unit -->

        <div class="row">
            <div class="span12">
                <h2>欢迎来到Sunny文子个人空间</h2>
                <p>好的文字是关于每一个个体在这个世界上挣扎生存的故事。每个人都会有许多时候直面人性的矛盾，或者是集权主义，或者是其他，世界上有太多太多的东西是要个人作出妥协的。许多人活了一辈子，其实早早就只剩下了躯壳，他们的梦想早就没有了，往后的日子只是重复每天的生活，支撑他们的，可能是自己的孩子，而非自己的本心。</p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="span12">

                <div class="bor"></div>

                <!-- Image blocks starts -->

                <ul class="hover-block">

                    <li>

                        <a href="#">
                            <!-- Image -->
                            <img src="../../img/photos/tn_11.jpg" alt="">
                            <!-- Content with background color Class -->
                            <div class="hover-content b-orange" style="top: 125px;">
                                <h6>长城</h6>
                                长城又称“万里长城”，是古代中国在不同时期为抵御塞北游牧部落联盟侵袭而修筑的规模浩大的军事工程的统称。
                            </div>
                        </a>

                    </li>


                    <li>

                        <a href="#">
                            <img src="../../img/photos/tn_12.jpg" alt="">
                            <div class="hover-content b-red" style="top: 125px;">
                                <h6>泰山</h6>
                                它位于山东省泰安市中部，是中外闻名的游览胜地。其主峰玉皇顶海拔1545米，气势磅礴，雄伟壮观，有“五岳之首”
                            </div>
                        </a>

                    </li>


                    <li>

                        <a href="#">
                            <img src="../../img/photos/tn_13.jpg" alt="">
                            <div class="hover-content b-purple">
                                <h6>九寨沟</h6>
                                九寨沟的山水形成于第四纪古冰川时期，现保存着大量第四纪古冰川遗迹。 
                            </div>
                        </a>

                    </li>


                    <li>

                        <a href="#">
                            <img src="../../img/photos/tn_14.jpg" alt="">
                            <div class="hover-content b-lblue">
                                <h6>大学</h6>
                                一个放飞梦想的地方，如果人生有几个版本，我一定要去体验一下。
                            </div>
                        </a>

                    </li>

                </ul>

                <div class="clearfix"></div>

                <!-- Image blocks ends -->
            </div>
        </div>
        <!-- Hero Ends -->


        <hr />

        <!-- Services Ends -->

        <!-- Testimonial starts -->

        <div class="testimonial">
            <div class="row">
                <div class="span6">
                    <blockquote>
                        <p>说到底，文字的种植，是一种可以让我们滋长良知，也成就精神之硬度和力度的事业。阅读前人的精品之作，能让我们站在巨人的肩上看世界；构筑自我之作，能让我们在破壳化羽的憧憬中激情永驻。
而崇尚文字的魅力，积攒文字的力量，坚信一份守护在人生漫漫长途中的意义，在文字的田垄上一路用心走过，凄风苦雨中内心也有阳光的温馨，春光明媚的日子也就能够时时与我们牵手 </p>
                        <small>Author, <span class="color">Net.</span></small>
                    </blockquote>
                </div>
                <div class="span6">
                    <blockquote>
                        <p>
                            一个人的时候喜欢写些文字来安慰自己，我不知道这能不能称为是文字的力量。或许看到那些
一个个在我手中出现的文字会有莫名的安全感，这种安全感来自于我不为人知的内心以及各种
彷徨，慌张，惆怅所带来的各种交汇的复杂感情。所以我习惯于在某个被情绪击中内心的时候
写出自己不懂的文字。告诉自己，你还很勇敢，你还很坚强，你还拥有很多，你还正在强大。
                        </p>
                        <small>Author,<span class="color">Net.</span></small>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- Testimonial ends -->

        <div class="border"></div>


    </div>
</div>
