
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

UL {
	LIST-STYLE: none none outside
}

.lavaLamp {
	POSITION: relative; BACKGROUND-COLOR: white; FLOAT: left
}
.lavaLamp LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 34px; LIST-STYLE-TYPE: none; WIDTH: 83px; FLOAT: left
}
.lavaLamp LI.back {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 9px; BACKGROUND: url(../images/bgtab.gif) no-repeat 0px 0px; HEIGHT: 42px
}
.lavaLamp LI A {
	Z-INDEX: 2; POSITION: relative; FONT-VARIANT: small-caps; WIDTH: 84px; DISPLAY: block; HEIGHT: 42px; COLOR: #555555; FONT-SIZE: 1.2em; TEXT-DECORATION: none
}
.lavaLamp LI A:hover {
	COLOR: #ffffff
}
.lavaLamp LI.current-cat A {
	COLOR: darkgreen
}

.sidebar {
	WIDTH: 320px; FLOAT: right
}
.sidebar UL.sidebar {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.2em; PADDING-TOP: 0px
}
.sidebar UL.sidebar LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666; PADDING-TOP: 0px
}
.sidebar UL.sidebar H2 {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: -20px; PADDING-LEFT: 8px; WIDTH: 120px; PADDING-RIGHT: 8px; DISPLAY: block; FLOAT: left; COLOR: #555555; FONT-SIZE: 1.1em; PADDING-TOP: 0px
}
.sidebar UL.sidebar UL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar UL.sidebar LI {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 93%; PADDING-RIGHT: 10px; BACKGROUND: #ffffff 0px 0px; FLOAT: left; FONT-SIZE: 12px; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-TOP: 10px
}
.sidebar UL.sidebar UL LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 0px; WIDTH: 50%; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 15px; COLOR: #80be06; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar UL.sidebar UL LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/bullet.gif) no-repeat 0px 0px; PADDING-TOP: 0px
}
.sidebar UL.sidebar UL LI A:hover {
	BACKGROUND: url(images/bullet.gif) no-repeat 0px -15px
}
#fragment-1 UL LI {
	
}
UL.ui-tabs-nav {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(images/grey.png) repeat-x left bottom; PADDING-TOP: 0px
}
UL.ui-tabs-nav LI {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 17px; PADDING-RIGHT: 17px; BACKGROUND: #fafafa 0px 0px; FLOAT: left; HEIGHT: 30px; BORDER-TOP: #efefef 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 0px
}
UL.ui-tabs-nav LI.ui-tabs-selected {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ebebeb 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 26px; BACKGROUND: #ffffff 0px 0px; BORDER-TOP: #ebebeb 1px solid; BORDER-RIGHT: #ebebeb 1px solid; PADDING-TOP: 0px
}
.ui-tabs-hide {
	DISPLAY: none
}
.ui-tabs-nav:after {
	DISPLAY: block; CLEAR: both; CONTENT: " "
}
.ui-tabs-nav A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; PADDING-TOP: 0px
}
.ui-tabs-nav A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; PADDING-TOP: 0px
}
.ui-tabs-nav A {
	MARGIN: 4px; OUTLINE-STYLE: none; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.ui-tabs-nav A:link {
	COLOR: #aaaaaa
}
.ui-tabs-nav A:visited {
	COLOR: #aaaaaa
}
.ui-tabs-nav .ui-tabs-selected A {
	Z-INDEX: 2; POSITION: relative
}
.ui-tabs-nav .ui-tabs-selected A:link {
	COLOR: #598d32; FONT-SIZE: 14px; CURSOR: text; FONT-WEIGHT: bold
}
.ui-tabs-nav .ui-tabs-selected A:visited {
	COLOR: #598d32; FONT-SIZE: 14px; CURSOR: text; FONT-WEIGHT: bold
}
.ui-tabs-nav .ui-tabs-disabled A:link {
	COLOR: #598d32; FONT-SIZE: 14px; CURSOR: text; FONT-WEIGHT: bold
}
.ui-tabs-nav .ui-tabs-disabled A:visited {
	COLOR: #598d32; FONT-SIZE: 14px; CURSOR: text; FONT-WEIGHT: bold
}
.ui-tabs-nav A:hover {
	CURSOR: pointer
}
.ui-tabs-nav A:focus {
	CURSOR: pointer
}
.ui-tabs-nav A:active {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-unselect A:hover {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-unselect A:focus {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-unselect A:active {
	CURSOR: pointer
}
.ui-tabs-panel {
	BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 170px; OVERFLOW: hidden; BORDER-TOP: #ebebeb; BORDER-RIGHT: #ebebeb 1px solid; PADDING-TOP: 10px
}
.ui-tabs-panel UL {
	BACKGROUND: #ffffff 0px 0px
}
.ui-tabs-panel LI {
	LINE-HEIGHT: 15px; WIDTH: 50%; MARGIN-BOTTOM: 11px; FLOAT: left; HEIGHT: 15px; FONT-SIZE: 13px; OVERFLOW: hidden
}
.ui-tabs-panel LI A {
	PADDING-LEFT: 20px; WIDTH: 80%; DISPLAY: block; BACKGROUND: url(../images/bullet.gif) no-repeat 0px 0px
}
.ui-tabs-panel LI A:hover {
	BACKGROUND: url(images/bullet.gif) no-repeat 0px -15px; FONT-WEIGHT: bold
}
* HTML .ui-tabs-nav {
	DISPLAY: inline-block
}
:first-child + HTML .ui-tabs-nav {
	DISPLAY: inline-block
}
.topnews_image {
	WIDTH: 174px; FLOAT: left; MARGIN-RIGHT: 10px
}
.featured_image {
	POSITION: absolute; WIDTH: 430px; HEIGHT: 322px
}
.postnav {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; WIDTH: 607px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 16px; FLOAT: left; COLOR: #666666; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.prev {
	FLOAT: left
}
.next {
	FLOAT: right
}
.note {
	LINE-HEIGHT: 30px; FLOAT: left; HEIGHT: 30px; COLOR: #ffffff; MARGIN-LEFT: 10px; FONT-SIZE: 13px; OVERFLOW: hidden
}
.note A {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
