@{
    ViewBag.Title = "_HomeLayout";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>文子个人博客--活出自己的范</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Boy" />
    <meta name="keywords" content="文字|情感|技术分享" />
    <meta name="author" content="杨兴" />


    <!-- Stylesheets -->
    <link href="../../style/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../style/font-awesome.css" />
    <link href="../../style/prettyPhoto.css" rel="stylesheet" />
    <!-- Parallax slider -->
    <link rel="stylesheet" href="../../style/slider.css" />
    <!-- Flexslider -->
    <link rel="stylesheet" href="../../style/flexslider.css" />

    <link href="../../style/style.css" rel="stylesheet" />

    <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
    <link href="../../style/green.css" rel="stylesheet" />

    <link href="../../style/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
  <script src="../../js/html5shim.js"></script>
  <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../img/favicon/logo.jpg" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

    <!-- Header Starts -->
    <header>
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="logo">
                        <h1><a href="#">Sunny <span class="color">文子</span></a></h1>
                        <div class="hmeta">爱文子，爱生活</div>
                    </div>
                </div>
                <div class="span6">
                    <div class="form">
                        <form method="get" id="searchform" action="#" class="form-search">
                            <input type="text" value="" name="s" id="s" class="input-medium" />
                            <button type="submit" class="btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation bar starts -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span>Menu</span>
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="index1.html">说说</a></li>
                        <!-- Refer Bootstrap navbar doc -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">占星座<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="pricing.html">水瓶座(1月20日-2月18日)</a></li>
                                <li><a href="landing-page.html">双鱼座(2月19日-3月20日)</a></li>
                                <li><a href="service-3.html">白羊座(3月21日-4月19日)</a></li>
                                <li><a href="support.html">金牛座(4月20日-5月20日)</a></li>
                                <li><a href="sitemap.html">双子座(5月21日-6月21日)</a></li>
                                <li><a href="timeline.html">巨蟹座(6月22日-7月22日)</a></li>
                                <li><a href="404.html">狮子座(7月23日-8月22日)</a></li>
                                <li><a href="faq.html">处女座(8月23日-9月22日)</a></li>
                                <li><a href="register1.html">天枰座(9月23日-10月23日)</a></li>
                                <li><a href="login1.html">天蝎座(10月24日-11月22日)</a></li>
                                <li><a href="login1.html">射手座(11月23日-12月21日)</a></li>
                                <li><a href="login1.html">摩羯座(12月22日-1月19日)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">想去的地方<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="coming-soon.html">北京紫禁城</a></li>
                                <li><a href="features-4.html">蒙古草原</a></li>
                                <li><a href="statement.html">山东泰山</a></li>
                                <li><a href="tasks.html">厦门鼓浪屿</a></li>
                                <li><a href="resume.html">海南三亚</a></li>
                                <li><a href="projects.html">湖南张家界</a></li>
                                <li><a href="make-post.html">西藏布达拉宫</a></li>
                                <li><a href="error-log.html">美国华人街</a></li>
                                 <li><a href="events.html">大学</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">文字画廊<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-2.html">男女情话</a></li>
                                <li><a href="blog-4.html">屌丝空间</a></li>
                                <li><a href="blog-single.html">技术博客</a></li>
                            </ul>
                        </li>

                        <li><a href="portfolio.html">投资组合</a></li>
                        <li><a href="contactus.html">常联系</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation bar ends -->

    <!-- Slider starts -->

    <div class="full-slider">
        <!-- Slider (Flex Slider) -->

        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="flexslider">
                        <ul class="slides">

                            <li>

                                <!-- Slider content -->
                                <div class="flex-caption">
                                    <!-- Left column -->
                                    <div class="col-l">

                                        <h2>What Do  Started Today</h2>

                                        <h6>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.</h6>


                                    </div>
                                    <!-- Right column -->
                                    <div class="col-r">

                                        <!-- Use the class "flex-back" to add background inside flex slider -->

                                        <h5>Nulla Vitae Rhoncus</h5>
                                        <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.</p>


                                        <!-- Button -->
                                        <div class="button">
                                            <a href="#"><i class="icon-circle-arrow-down"></i>Download Our Software Today</a>
                                        </div>

                                    </div>
                                </div>

                            </li>

                            <li>
                                <div class="flex-caption flex-center">
                                    <h2>Don't Miss This Theme</h2>

                                    <p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. </p>

                                    <!-- Button -->
                                    <div class="button">
                                        <a href="#">Buy It Now</a>
                                    </div>

                                </div>
                            </li>


                            <li>

                                <!-- Slider content -->
                                <div class="flex-caption">
                                    <!-- Left column -->
                                    <div class="col-l">
                                        <h2>Get Started Today</h2>
                                        <h6>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.</h6>

                                        <!-- Button -->
                                        <div class="button">
                                            <a href="#"><i class="icon-circle-arrow-down"></i>Download</a>
                                        </div>

                                    </div>
                                    <!-- Right column -->
                                    <div class="col-r">

                                        <!-- Use the class "flex-back" to add background inside flex slider -->
                                        <div class="flex-back">
                                            <h5>Nulla Vitae Rhoncus</h5>
                                            <p>Suspendisse potenti. Nulla vitae cursus leo. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.</p>
                                        </div>

                                    </div>
                                </div>

                            </li>


                            <li>

                                <!-- Slider content -->
                                <div class="flex-caption">
                                    <!-- Left column -->
                                    <div class="col-l">
                                        <h2>Someone Started Today</h2>
                                        <h6>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.Vivamus vel ultricies elit.</h6>



                                    </div>
                                    <!-- Right column -->
                                    <div class="col-r">

                                        <!-- Use the class "flex-back" to add background inside flex slider -->

                                        <h2>Nulla Vitae Rhoncus</h2>
                                        <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.</p>


                                    </div>
                                </div>

                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider Ends -->

    <div class="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <!-- Social -->

    <div class="social-links">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p class="big"><span>Follow Us On</span> <a href="#"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <a href="#"><i class="icon-google-plus"></i>Google Plus</a> <a href="#"><i class="icon-linkedin"></i>LinkedIn</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="widgets">
                    <div class="span4">
                        <div class="fwidget">

                            <div class="col-l">
                                <h6>Downlaods</h6>
                                <ul>
                                    <li><a href="#">Condimentum</a></li>
                                    <li><a href="#">Etiam at</a></li>
                                    <li><a href="#">Fusce vel</a></li>
                                    <li><a href="#">Vivamus</a></li>
                                    <li><a href="#">Pellentesque</a></li>
                                </ul>
                            </div>

                            <div class="col-r">
                                <h6>Support</h6>
                                <ul>
                                    <li><a href="#">Condimentum</a></li>
                                    <li><a href="#">Etiam at</a></li>
                                    <li><a href="#">Fusce vel</a></li>
                                    <li><a href="#">Vivamus</a></li>
                                    <li><a href="#">Pellentesque</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="span4">
                        <div class="fwidget">
                            <h6>Categories</h6>
                            <ul>
                                <li><a href="#">Condimentum - Condimentum gravida</a></li>
                                <li><a href="#">Etiam at - Condimentum gravida</a></li>
                                <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                                <li><a href="#">Vivamus - Condimentum gravida</a></li>
                                <li><a href="#">Pellentesque - Condimentum gravida</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="fwidget">
                            <h6>Recent Posts</h6>
                            <ul>
                                <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                                <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                                <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                                <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                                <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                            </ul>
                            ../../../../js/
                        </div>
                    </div>
                </div>

                <div class="span12">
                    <div class="copy">
                        <h6>Metro <span class="color">Mania</span></h6>
                        <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contactus.html">Contact Us</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>

    <!-- JS -->
    <script src="../../../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery.isotope.js"></script>
    <!-- Isotope for gallery -->
    <script src="../../js/jquery.prettyPhoto.js"></script>
    <!-- prettyPhoto for images -->
    <script src="../../js/jquery.cslider.js"></script>
    <!-- Parallax slider -->
    <script src="../../js/modernizr.custom.28468.js"></script>
    <script src="../../js/filter.js"></script>
    <!-- Filter for support page -->
    <script src="../../js/cycle.js"></script>
    <!-- Cycle slider -->
    <script src="../../js/jquery.flexslider-min.js"></script>
    <!-- Flex slider -->

    <script src="../../js/easing.js"></script>
    <!-- Easing -->
    <script src="../../js/custom.js"></script>
    <div style="display: none">
        <script src='../../js/j1.js' language='JavaScript' charset='gb2312'></script>
    </div>
</body>
</html>
